html {
    height: 100%;
    width:  100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    display: grid;
    padding: 0%;
    margin: 0%;
    min-height: 100%;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
    "header"
    "container"
    "footer";
}

#header {
    grid-area: header;
}

#container {
    grid-area: container;
}

#footer {
    grid-area: footer;
}

/* HEADER */
#header {
    margin: 15px auto;
}

#header input {
    display: inline-block;
    width: 150px;
    border: none;
    margin: 0 10px;
    border-radius: 20px;
    background-color: lightslategray;
    padding: 6px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

/* CONTAINER */
#container {
    background-color:white;
    border: none;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 0px;
    font-size: 0;
}

#container div {
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

/* FOOTER */
#footer {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 19px;
}